<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.UserMapper">

	<!-- Integer addnew(User user) -->
	<insert id="addnew" parameterType="cn.tedu.store.entity.User"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_user (username,
		password, salt, gender,
		phone, email,avatar, is_delete,
		created_user,
		created_time, modified_user, modified_time
		) VALUES (
		#{username},#{password},#{salt}, #{gender},
		#{phone}, #{email},
		#{avatar},#{isDelete},
		#{createdUser}, #{createdTime},
		#{modifiedUser},#{modifiedTime}
		)
	</insert>

	<!-- User findbyUsername(String username) -->
	<select id="findByUsername"
		resultType="cn.tedu.store.entity.User">
		SELECT id, username, password, salt, avatar, is_delete
		isDelete
		FROM t_user WHERE username=#{username}
	</select>

	<!-- User findById(Integer id) -->
	<select id="findById" resultType="cn.tedu.store.entity.User">
		SELECT username, password,
		gender, phone, email,
		salt, is_delete isDelete
		FROM t_user WHERE
		id=#{id}
	</select>

	<update id="updatePassword">
		UPDATE t_user
		SET password=#{password},
		modified_user=#{modifiedUser},
		modified_time=#{modifiedTime}
		WHERE
		id=#{id}
	</update>

	<update id="updateAvatar">
		UPDATE t_user
		SET avatar=#{avatar},
		modified_user=#{modifiedUser},
		modified_time=#{modifiedTime}
		WHERE
		id=#{id}
	</update>

	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		UPDATE t_user
		SET
		<if test="gender!=null">
			gender=#{gender},
		</if>
		<if test="phone!=null">
			phone=#{phone},
		</if>
		<if test="email!=null">
			email=#{email},
		</if>
		modified_user=#{modifiedUser},
		modified_time=#{modifiedTime}
		WHERE
		id=#{id}
	</update>
</mapper>